/*hw4 main css stylesheet*/

/*Fixed header using parallax. firstbckgrd class has top margin of 200px to offset header height*/
header      {
            background-color:bisque;
            position: fixed; /*for parallax effect*/
            /*top overrides the margin-top 30*/
            top: 0;  /*Positions header at the top of the page where it is fixed*/
            height: 200px;  /*Add a top margin to element below or wrapper to avoid content overlay*/
            width: 100%; 
}
/*logo position*/
img.displayed {
            margin-left:auto;
            margin-right:auto;
            display:block;
            padding-top:20px;
            padding-bottom:20px;
}

#logoname   {
            font-family:verdana, arial, sans-serif;
            font-size: 1.5em;
            text-align: center;
            letter-spacing:0.05em;
            line-height: 0.8em;
}

/*background graphical pics*/
/*first background image on main cat page*/
.firstbckgrd {    
            background-image: url("images/cat-bw-face-down.jpg");
            height: 500px; 
            margin-top:200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}
/*first graphic image on ipsum page*/
.firstbckgrd-ipsum {    
            background-image: url("images/cat-in-tree.jpg");
            height: 500px; 
            margin-top:200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}
/*first graphic image on site page*/
.firstbckgrd-site {    
            background-image: url("images/cat.jpg");
            height: 500px; 
            margin-top:200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

.full-width {    
            background-image: url("images/kittens.jpg");
            height: 500px; 
            /* Create the parallax scrolling effect if fixed*/
            /*background-attachment: fixed;*/
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;}
.full-width-pic {    
            width: 100%;
            height: auto; 
}
footer      {
            background-color: #191919;
            color: #ffffff;
            text-align: center;
            font-family:verdana, arial, sans-serif;
            box-sizing:border-box;
            padding:35px;
}

footer p    {
            line-height: 1.35em;
}
footer li   {display:inline-block;
            padding:10px;
}

/*link pseudoclass a:hover MUST come after a:link and a:visited in the CSS! a:active MUST come after a:hover in the CSS definitionr-w3*/
footer li a:link {
            opacity:1.0;
}

/* visited link */
            footer li a:visited {
            opacity:0.5;
}

/* mouse over link */
            footer li a:hover {
            opacity: 0.5;
}

/* selected link */
            footer li a:active {
            opacity:0.7;
}

footer p a:link {
            color:bisque;
            font-weight: bold;
}

/* visited link */
            footer p a:visited {
            color:#e4e4e4;
}

/* mouse over link */
            footer p a:hover {
            color:bisque;
            opacity: 0.5;
}

/* selected link */
            footer p a:active {
            color:bisque;
            opacity: 1.0;
}

/*Text*/
h1, h2, h3     {

            font-family: "Times New Roman", Palatino, serif;
            line-height: 1.5em;
            letter-spacing:0.05em;
            font-size: 1.5em;
}

h1          {
            text-align: center;
            margin-top: -20px;
}
h2     {
            font-size: 1.7em;
}
h3     {
            font-size: 1.4em;
}
.intro  {
            /*height:300px;*/
            background-color:bisque;
            font-size:1.6em;
            line-height: 1.2em;
            text-align: center;
            box-sizing: border-box;
            padding:5% 10%;
}
.quotes  {
            /*height:300px;*/
            color: #191919;
            background-color:#fff;
            font-size:1.6em;
            line-height: 1.2em;
            text-align: center;
            box-sizing: border-box;
            padding:5% 10%;
}
a           {
            text-decoration: none;
}





/*flexbox start point from w3schools*/
.flex-container {
            display: flex;
            width: 100%;
            background-color: #191919;
            /*centeres flex items*/
            justify-content: center;
            flex-wrap: wrap;
}

/*3 flex-item sizes*/
/*Third wide*/
.flex-item  {
            box-sizing:border-box;
            /*padding:35px;*/
            width: 375px;
            padding-top:20px;
            padding-bottom: 20px        
}
/*half wide*/
.flex-item-2  {
            box-sizing:border-box;
            padding: 20px 35px 20px 35px;
            width: 562px;
}
/*two thirds wide*/
.flex-item-2-3  {
            box-sizing:border-box;
            padding:35px;
            width: 750px;
}

/*3 flex-item colors*/
.flexdark      {
            background-color: #191919;
            color: white;
}

.flexbisque {
            background-color: bisque;
}
.flexwhite {
            background-color: #fff;
}

#bigartlist {padding-bottom: 15px;
}



.flextext {
            font-family: verdana, arial, sans-serif;
            line-height: 1.5em;
            font-size: 0.95em;
            box-sizing: border-box;
}
.flex-item p, h2, figcaption {
            padding-left: 35px;
            padding-right: 35px;
            padding-bottom:15px;
}
.flex-item-2 h2 {
                margin-left:-35px;
}
.flex-item-2-3 p, h2 {
            padding-bottom:15px;
}
.flex-item-2-3 h2 {
            padding-left:0;
}

.flex-item-2 h3 {
            padding-top:15px;
}

.flex-item #asidelist {
                margin-left:35px
}
                
.flex-item ul, li   {
            list-style-type: circle;
            list-style-position: inside;
            line-height: 2em;
}

flex-item-2 flexwhite flextext ul {
            padding-left: 35px;
}

/*offsets padding in flex item so image can butt to top*/
.flex-item img  {
            margin-top:-20px;
}

/*links in flex containers./
/* unvisited link */
.flex-container a:link {
            font-weight: bold;
            color: #000000;
}

/* visited link */
.flex-container a:visited {
            color: #696969;
}
/* mouse over link */
.flex-container a:hover {
            color: #191919;
}
/* selected link */
.flex-container a:active {
            color: #e4e4e4;
}



/* links on dark panels.*/

/* unvisited link */
.flexdark a:link {
            font-weight: bold;
            color: bisque;
}

/*visited link */
.flexdark a:visited {
            color: #e4e4e4;
}

/* mouse over link */
.flexdark a:hover {
            color:#ffffff;
}

/* selected link */
.flexdark a:active {
            color: bisque;
}

/*top nav*/
nav         {text-align: center;}
nav ul      {
            margin-top:10px;
}
nav li      {
            display:inline-block; 
            font-family:sans-serif;

}

nav li a:link	    {
            display:inline-block;
            padding-top: 8px;
            padding-bottom:6px;
            padding-left:15px;
            padding-right:15px;
            margin-top: 6px;
            text-align:center;
            color: #191919;
}

nav li a:hover	{
            color:#ffffff!important; 
            background-color:#191919; 
}
nav li a:active {
            color:#191919; 
            background-color:#ffffff; 
}
nav li a:visited      {
            color: #696969;
}

/*end nav*/








    



